button{

display:flex;
justify-content: center;
align-items: center;
width: 130px;
height: 48px;

background: #EA5CED;
box-shadow: 0px 4px 4px #DD2EE9;
border-radius: 30px;
border-color:#EA5CED ;
border-width:1px;
}